/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.background_principal{
	-fx-background-color: #333333;
}


#buttonClose-font {
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}